@import url('../assets/fonts/YandexSansDisplay-Regular/style.css');
@import url('../assets/fonts/YandexSansDisplay-Bold/style.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Yandex Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  -webkit-user-select: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  border-radius: 40px;
  overflow: hidden;
}

::-webkit-scrollbar-track
{
  background-color: #35002c;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #6e626b7d;
}


.drag-handle {
  -webkit-app-region: drag;
}

.cover {
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-size: 100% 50%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left top, left bottom;
}


@keyframes stationAnim {
  0% {
      -webkit-transform: scale(.9);
      transform: scale(.9)
  }

  50% {
      -webkit-transform: scale(1);
      transform: scale(1)
  }

  to {
      -webkit-transform: scale(.9);
      transform: scale(.9)
  }
}



.station {
  animation: stationAnim 1s ease-out infinite;
}